<div class="loading" style="display: none;" id="loading"></div>
<div class="row">
    <div class="col-12">

        <div class="card mb-4">
            <div class="card-body">
                <h5 class="mb-4">{{ 'role.add-new-title' | translate }}</h5>

                <form [formGroup]="roleForm">

                    <div class="form-group row col-lg-12">
                        <label class="col-sm-2 col-form-label">{{ 'role.name' | translate }}</label>
                        <div class="col-sm-4">
                            <input type="text"  id="txtrolename" class="form-control" placeholder="{{ 'role.name' | translate }}"
                                [(ngModel)]="rolename" required="required" formControlName="rname"
                                [ngClass]="{'is-invalid': rolesubmitted && r.rname.errors }">

                            <div *ngIf="rolesubmitted && r.rname.errors" class="invalid-feedback">
                                <div *ngIf="r.rname.errors.required" class="invalid-tooltip">Role name is required
                                </div>
                            </div>
                        </div>
                        <label class="col-sm-2 col-form-label">{{ 'role.description'  | translate }}</label>
                        <div class="col-sm-4">
                            <textarea class=" form-control" id="txtdescription" [(ngModel)]="description"
                                placeholder="{{ 'role.description' | translate }}"
                                [ngModelOptions]="{standalone: true}"></textarea>
                        </div>
                    </div>
                  

                    <div style="display: flex;">
                        <button class="btn btn-primary d-block mt-3 currentState" type="submit" (click)="SaveRole()">
                            {{ 'role.submit'  | translate  }}
                        </button>
                        <button type="submit" style="margin-left: 15px;" class="btn btn-primary d-block mt-3"
                            (click)="canceladdrole()">{{ 'role.cancel' | translate }}</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<simple-notifications></simple-notifications>
<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple" [fullScreen]="true"><p style="color: white"> Please wait... </p></ngx-spinner>