<div class="card" style="margin: auto;
width: 60%;
background: rgb(245 242 242 / 60%);
color: #333 !important;
box-shadow: 0 0px 56px rgba(0, 0, 0, 0.3);">
    <!-- <div class="position-relative image-side ">
    
    </div> -->
    <div class="form-side">
      <a class="c-pointer">
        
      </a>
      
      <div class="loading" style="display: none;" id="loading"></div>
      <div class="jumbotron text-center">
        <h1 class="display-3">Welcome</h1>
        <p class="lead">Email verified successfully</p>
        <p class="lead"><strong>Please Login here</strong></p>
        <hr>
        <p>
          Having trouble? <a href="">Contact us</a>
        </p>
        <p class="lead">
            <app-state-button [btnClass]="'btn btn-primary btn-lg btn-shadow'"  routerLink="/user/login"
            [routerLinkActive]="['routerLinkActive']">
            {{ 'user.login-button' | translate  }}
          </app-state-button>
        </p>
      </div>
  
    </div>
  </div>

  