

   <div class="card shadow rounded-2xl p-4">
    <div class="card-header mb-4">
      <h5 class="text-xl font-semibold">Change Password</h5>
    </div>
    <div class="card-divider mb-8"></div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-lg-8 col-xl-6">
          <form (ngSubmit)="onSubmit()" class="space-y-4" novalidate>
            
            <!-- New Password Field -->
            <div class="form-group">
              <label for="password-new" class="font-medium">New Password</label>
              <input
                type="password"
                id="password-new"
                class="form-control rounded-lg"
                placeholder="Enter new password"
                [(ngModel)]="newPassword"
                name="newPassword"
                (input)="onNewPasswordInput()"
                required
              />
              <div *ngIf="passwordRequirementsVisible" class="text-sm text-yellow-500 mt-2">
                <ul class="list-disc ml-5 space-y-1">
                  <li>Must contain 1 special character</li>
                  <li>Must contain 1 lowercase letter</li>
                  <li>Must contain 1 uppercase letter</li>
                  <li>Must contain 1 numeric character</li>
                  <li>Minimum length of 6 characters</li>
                </ul>
              </div>
            </div>
  
            <!-- Confirm Password Field -->
            <div class="form-group">
              <label for="password-confirm" class="font-medium">Reenter New Password</label>
              <input
                type="password"
                id="password-confirm"
                class="form-control rounded-lg"
                placeholder="Reenter new password"
                [(ngModel)]="confirmPassword"
                name="confirmPassword"
                (input)="onConfirmPasswordInput()"
                required
              />
              <div *ngIf="passwordMismatchVisible" class="text-sm text-yellow-500 mt-2">
                Passwords must match
              </div>
            </div>
  
            <!-- Submit Button -->
            <div class="form-group text-center mt-6">
              <button
                type="submit"
                class="btn btn-primary w-full py-2 rounded-lg text-lg"
                [disabled]="!canSubmit"
              >
                Change Password
              </button>

              <simple-notifications></simple-notifications>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
 