<div class="card auth-card" style="margin: auto;
width: 60%;
background: rgb(245 242 242 / 60%);
color: #333 !important;
box-shadow: 0 0px 56px rgba(0, 0, 0, 0.3);">
    <!-- <div class="position-relative image-side ">
      <p class=" text-white h2">MAGIC IS IN THE DETAILS</p>
      <p class="white mb-0">
        Please set a  password.
      
      </p>
    </div> -->
    <div class="loading" style="display: none;" id="loading"></div>
    <div class="form-side" style="width: 100% !important;">
      <a class="c-pointer">
        <span class="logo-single"></span>
      </a>
      <h6 class="mb-4">Set Password</h6>
  
      <form #setForm="ngForm" novalidate (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label  class="col-form-label">{{ 'user.password' | translate }}</label>
          <div class="col-sm-8">
            <input class="form-control" type="password" style="margin-left: 48px;" ngModel #newPassword="ngModel"
            name="newPassword" placeholder="{{ 'user.password' | translate }}" required>
            <div *ngIf="!newPassword.valid && setForm.submitted" class="invalid-tooltip">Password is required!</div>
          </div>
        </div>
        <div class="form-group row">
          <label  class="col-form-label">{{ 'user.confirmpassword' | translate }}</label>
          <div class="col-sm-8">
            <input class="form-control" type="password" ngModel #confirmPassword="ngModel"
            name="confirmPassword" (change)="ConfirmPasswordMet()" placeholder="{{ 'user.confirmpassword' | translate }}" required>
            <div *ngIf="!confirmPassword.valid && setForm.submitted" class="invalid-tooltip">Confirm Password is required!</div>
          </div>
        </div>
        <!-- <label class="form-group has-float-label">
          <input class="form-control" type="password" placeholder="" required ngModel #newPassword="ngModel"
            name="newPassword" />
          <span>{{ 'user.password' | translate }}</span>
          <div *ngIf="!newPassword.valid && setForm.submitted" class="invalid-tooltip">Password is required!</div>
        </label> -->
        <!-- <label class="form-group has-float-label">
          <input class="form-control" type="password" placeholder="" required ngModel #confirmPassword="ngModel"
            name="confirmPassword" (change)="ConfirmPasswordMet()"/>
          <span>{{ 'user.confirmpassword' | translate }}</span>
          <div *ngIf="!confirmPassword.valid && setForm.submitted" class="invalid-tooltip">Confirm Password is required!</div>
        </label> -->
        <div class="d-flex justify-content-between align-items-center" style="float: right;">
          
          <app-state-button [btnClass]="'btn btn-primary btn-lg btn-shadow'" [currentState]="buttonState"
            [isDisabled]="buttonDisabled" click="onLoginClick()">
            {{ 'user.set-password-button' | translate  }}
          </app-state-button>
        </div>
      </form>
  
    </div>
  </div>
  <simple-notifications></simple-notifications>
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple" [fullScreen]="true"><p style="color: white"> Please wait... </p></ngx-spinner>
  