// .card {
//   border-radius: 10px;
//   background-color: #f8f9fa;
//   padding: 1rem
// }


.card {
  height: 250px; /* Set a fixed height you prefer */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1% !important

}


.count-circle {
  width: 60px;
  height: 30px;
  line-height: 60px;

  color: blue;
  font-size: 32px;
  font-weight: 800;
  margin: 10px auto;
}


