.card {
  border-radius: 10px;
  background-color: #f8f9fa;
}

.count-circle {
  width: 60px;
  height: 60px;
  line-height: 60px;

  color: blue;
  font-size: 32px;
  font-weight: 800;
  margin: 10px auto;
}
