<div class="card card_cls">
    <!-- <div class="position-relative image-side ">

    </div> -->
    <div class="form-side">
      <a class="c-pointer">

      </a>

      <div class="loading" style="display: none;" id="loading"></div>
      <div class="jumbotron text-center">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead">{{success1}}</p>
        <p class="lead"><strong>{{success2}}</strong> {{success3}}</p>
        <hr>
        <p>
          Having trouble? <a href="">Contact us</a>
        </p>
        <p class="lead">
            <app-state-button [btnClass]="'btn btn-primary btn-lg btn-shadow'"  routerLink="/user/login"
            [routerLinkActive]="['routerLinkActive']">
            {{ 'user.login-button' | translate  }}
          </app-state-button>
        </p>
      </div>

    </div>
  </div>

  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple" [fullScreen]="true"><p style="color: white"> Please wait... </p></ngx-spinner>
