<div class="container mt-4">
    <div class="row justify-content-center g-3">
      <div class="col-auto">
        <div class="card shadow text-center p-2">
          <div class="card-body">
            <input type="file" [(ngModel)]="logo" #logoInput hidden (change)="onFileSelected($event)" />
              <div class="card-title">
                <span *ngIf="!imageUrl" (click)="logoInput.click()">
                  <i class="iconsminds-upload" style="font-size: 2em;"></i>
                </span>
                <img *ngIf="imageUrl"  [src]="imageUrl" alt="Logo Preview" class="logo-preview" (click)="logoInput.click()"/>
               

                <h6 style="margin-top: 10px;">Upload Logo</h6>
              </div>
              
              <!-- Hidden file input -->
              <input #logoInput type="file" (change)="onFileSelected($event)" accept="image/*" hidden />
              
              <div *ngIf="fileUrls['logo']">
                <a [href]="fileUrls['logo']" target="_blank" class="view-file" style="margin-top: 6px; font-size: small;">View Uploaded File</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
<div class="btn_align">
  <button [disabled]="!imageUrl" class="btn btn-primary d-block mt-3 currentState" (click)="SaveLogo()" 
  type="submit">
  Submit
</button>
</div>

<simple-notifications></simple-notifications>


 